@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');
html {
  width: 100%;
  height: 100%;
  font-size: 15px;
}
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    -225deg,
    #3d4e81 0%,
    #5753c9 48%,
    #6e7ff3 100%
  );
  color: aliceblue;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  /* background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #1e3c72 100%
  ); */
}

a,
a:hover {
  text-decoration: none;
}

/* =========== NAVIGATION BAR ========= */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav_brand {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.5em;
}
.nav_links {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.nav_links li {
  display: inline-block;
  margin: 0 20px;
}

.nav_links a {
  color: aliceblue;
}

.nav_links :hover {
  color: #f3e26e;
}

/* =========== ABOUT AREA ========= */

.about-area {
  padding: 160px 100px;
  font-size: 34px;
}

.intro_hi {
  width: 100px;
  margin-bottom: 20px;
}

.intro_tagline {
  font-weight: 200;
  width: 70%;
  margin: 0;
  margin-bottom: 20px;
}

.intro_contact {
  font-size: 0.7em;
  font-weight: 200;
  padding: 10px 0;

}

.intro_profile{
  position: relative;
  float: right;
  bottom: 220px;
  right:80px;
}

.intro_profile img{
    transform:scale(2.2);
    height:auto;
    border: 1px solid;
    border-radius: 50%;
    box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);

  
}
#email {
  color: #f3e26e;
  text-decoration: underline;
}

/* =========== SKILLS AREA ========= */

.skills-area {
  background-color: aliceblue;
  color: #1e3c72;
  padding: 200px;
}
